* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.title-section {
  text-align: center;
  margin: 0 1.5rem 1.5rem;
}

.navbar {
  background-color: #3a645c4d;
  padding: 0.2rem 2rem;
}
.nav-title {
  font-family: "Darker Grotesque", sans-serif;
  color: #365052;
  font-size: 2.5rem;
  font-weight: 600;
}

.header-label {
  color: white;
}

.navbar-title {
  font-family: "Darker Grotesque", sans-serif;
  color: #365052;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem;
}
.navbar-header {
  color: #365052;
}

.alert {
  position: absolute;
  width: 95%;
  margin-top: 33px;
  left: 0.65rem;
}

.title-name {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: lighter;
  color: #365052;
  font-size: 10rem;
}
.Tabs {
  width: 63vh;
  height: auto;
  min-height: 400px;
  margin: 0 auto;
  padding: 1rem 1rem;
  color: #365052;
  position: relative;
  border-radius: 2rem;
}

ul.nav {
  width: 100%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #365052;
  border-radius: 1rem;
  padding-left: 0px;
}

ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #00000035;
}

.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("../public/landing-page.png");
  width: auto;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

.login-box {
  position: absolute;
  top: 23rem;
  left: 50%;
  width: 80%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  padding: 0 0 10px;
  color: #fff;
  text-align: center;
}

.login-box p {
  padding: 0 0 10px;
  color: #fff;
  font-size: 0.9rem;
}

.user-box {
  position: relative;
}

.login-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box input:focus-within ~ label {
  top: -20px;
  left: 0;
  color: #92edd2;
  font-size: 12px;
}

.login-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #92edd2;
  font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
  caret-color: white;
}

.user-box .focus {
  position: relative;
  bottom: 100px;
  left: 0;
  padding: 0 0;
  font-size: 16px;
  color: #92edd2;
  pointer-events: none;
  transition: 0.5s;
}

/* CSS */
.button-80 {
  background: transparent;
  backface-visibility: hidden;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 0.125rem;
  box-sizing: border-box;
  border-color: #92edd2;
  color: #92edd2;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 0.675rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(0.125rem);
}

.text-center {
  color: white;
}

.logout-button {
  color: #233b3d;
  border-color: #233b3d;
}

.logout-button:hover {
  background-color: #233b3d;
  border-color: #233b3d;
}

@media screen and (max-width: 850px) {
  .title-name {
    font-size: 8rem;
  }

  .login-box p {
    font-size: 1.25rem;
  }
  .login-box input {
    font-size: 1.25rem;
  }

  .login-box input:valid ~ label {
    font-size: 1rem;
  }
  .navbar {
    width: 100%;
  }

  ul.nav {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .Tabs {
    margin: 0;
  }
  
  ul.nav li {
    padding: 1rem 0.5rem;
  }
  ul.nav {
    width: 120%;
  }
  .title-name {
    font-size: 6rem;
  }
  .login-box p {
    font-size: 1.125rem;
  }

  .login-box {
    width: 100%;
  }

  ul.nav {
    width: 100%;
  }
}
